@font-face {
  font-family: "sansation";
  src: url("./fontes/Sansation_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  src: url("./fontes/Lato-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "lato";
}
a {
  color: white;
}
span {
  color: #ff5516;
}
.intro-container {
  height: 1000px;
  background-image: url("./img/bg-home2.png");
  background-size: cover;
}
.logo {
  border-radius: 100%;
  width: 200px;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  font-size: 1rem;
}
li {
  color: white;
  font-family: "lato";
  font-weight: 500;
}
li:hover {
  transition: 0.4s;
  color: #ff5516;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-family: "sansation";
  color: white;
  height: 80%;
  margin: 0 2rem;
}
.intro h1 {
  font-family: "sansation";
  font-weight: 500;
  color: white;
  font-size: 3rem;
}
.intro h2 {
  font-weight: 400;
  text-transform: uppercase;
}
.intro-buttons {
  display: flex;
  font-family: "lato";
  gap: 2rem;
}
.button-1 {
  background-color: transparent;
  border: 1px solid white;
  padding: 25px 55px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  max-width: 300px;
  text-transform: uppercase;
}
.button-2 {
  background-color: #ff5516;
  border: 1px solid #ff5516;
  padding: 25px 65px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.button-1:hover {
  transition: 0.4s;
  background-color: #ff5516;
  border: 1px solid #ff5516;
}
.button-2:hover {
  transition: 0.4s;
  border: 1px solid white;
  background-color: transparent;
}

/* ESTÁ SECÇÃO É A SEÇÃO SOBRE */

.about-container {
  margin: 2rem;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-container h1 {
  font-family: "sansation";
  font-weight: 500;
  border-bottom: 3px solid #ff5516;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.description-container p {
  width: 80%;
  line-height: 1.5;
  text-align: center;
  font-family: "lato";
  color: grey;
}

.about-habilityes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 4rem;
}
.about-habilityes-container-items {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.about-habilityes-container-items p {
  font-family: "lato";
  color: grey;
  width: 300px;
  text-align: center;
}
.about-habilityes-container-items h1 {
  font-family: "sansation";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}
#img-midle {
  width: 70%;
  margin-top: -20%;
}
.about-icon {
  width: 50px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.about-img {
  width: 50%;
}
/* AQUI COMEÇA A PARTE DA SEÇÃO SERVIÇOS 


*/
.services-container {
  margin-top: 10rem;
}

.service-bg,
.contato-bg {
  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.service-bg {
  background-image: url("./img/bg-service.png");
}
.service-bg h1 {
  font-family: "sansation";
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  width: 60%;
  text-align: center;
}
.services-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  gap: 6rem;
}
.services-content {
  position: relative;
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
}

.service-image {
  display: block;
  width: 300px;
  height: auto;
  border-radius: 4px;
}
#mobile-img {
  display: none;
}
.service-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #2a2a2a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.services-content:hover .service-overlay {
  bottom: 0;
  height: 100%;
}
.service-text {
  color: white;
  font-size: 20px;
  font-family: "lato";
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 4px;
}

/* AQUI COMEÇA A SEÇÃO CONTATO


*/

.contato-bg {
  background-image: url("./img/bg-contato.png");
  height: 700px;
  color: white;
}
.contato-bg h1 {
  font-size: 2rem;
  font-family: "sansation";
  text-transform: uppercase;
  font-weight: 500;
}
.contato-bg h2 {
  font-family: "lato";
  font-weight: 500;
}
.contato-description {
  margin: 0 2rem;
  text-align: center;
}
.contact-img-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 4rem;
}
.contact-img-content img {
  width: 80px;
}
.contact-img-content img:hover {
  scale: 110%;
  transition: 0.4s;
}

/* AQUI COMEÇA A SEÇÃO FOOTER


*/
.footer-container {
  background-color: #2a2a2a;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  font-family: "lato";
  padding-bottom: 2rem;
  margin: 0 2rem;
}
.footer-icons p {
  text-align: center;
}
.footer-icons img {
  width: 40px;
}
.footer-direitos {
  background-color: #222222;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "lato";
  flex-direction: column;
  text-align: center;
}
.footer-direitos p {
  margin: 0 2rem;
}

@media (max-width: 720px) {
  .intro-container {
    height: 600px;
  }
  .logo {
    width: 150px;
  }
  .menu {
    justify-content: space-between;
  }
  ul {
    display: none;
  }
  .intro {
    gap: 2rem;
  }
  .intro h1 {
    text-align: center;
    font-size: 2.8rem;
  }
  .intro h2 {
    display: none;
  }
  .button-2 {
    display: none;
  }

  /* SOBRE */
  .description-container p {
    width: 100%;
  }
  .about-habilityes-container {
    flex-wrap: wrap;
  }
  #img-midle,
  .about-img {
    width: 100%;
    margin-top: 0;
  }
  /* SERVICES */
  .service-bg {
    height: 400px;
  }
  .services-container {
    margin-top: 5rem;
  }
  .service-bg h1 {
    width: 90%;
  }
  #servico {
    margin: 0 2rem;
  }
  #servico h1 {
    text-align: center;
  }
  /* CONTATO */
  .contato-bg {
    height: 500px;
  }
  .contato-bg h1 {
    font-size: 1.5rem;
  }
  .contato-bg h2 {
    font-size: 1.2rem;
  }
  .contact-img-content img {
    width: 50px;
  }
}
@media (max-width: 450px) {
  .intro h1 {
    text-align: center;
    font-size: 2.4rem;
  }
  .button-1 {
    padding: 15px 35px;
  }
  .footer-direitos p {
    font-size: 0.6rem;
  }
  #mobile-img {
    display: block;
  }
  #desktop-img {
    display: none;
  }
}
